<mat-icon class="clickable home-icon" (click)="logout()">exit_to_app</mat-icon>
<div class="flex-container">
  <mat-card *ngFor="let module of modules" class="flex-box">
    <h2 class="center">{{ module.title }}</h2>
    <mat-action-list>
      <mat-list-item *ngFor="let lesson of module.lessons" role="listitem" (click)="onClick(module.id, lesson.id)">
          <!-- TODO: Implement a way to track progress and show a star if completed -->
          <mat-icon class="success-icon">star_border</mat-icon>
          <mat-icon class="success-icon">star</mat-icon>
          {{ lesson.title }}
      </mat-list-item>
    </mat-action-list>
  </mat-card>
</div>