mat-card-title {
  height: 15%;
}

mat-card-content {
  height: 60%;
}

mat-card-actions {
  height: 25%;
}

.mat-form-field {
  width: 100%;
}

.mat-card {
  width: 500px;
  height: 300px;
}

.error {
  padding: 16px;
  color: white;
  background-color: red;
}

.button {
  width: 100%;
  background-color: rgba(0,255,0, 0.9);
  color: white;
}