<mat-icon class="clickable home-icon" (click)="returnHome()">home</mat-icon>
<div class="flex-container flex-center">
  <mat-card>
    <mat-card-title class="center">{{ selectedGroup }}</mat-card-title>
    <mat-card-content>
      <h4 *ngIf="groupData.length === 0">
        Selected group has not completed any lessons yet
      </h4>
      <mat-accordion *ngIf="groupData.length > 0">
        <mat-expansion-panel *ngFor="let module of groupData">
          <mat-expansion-panel-header>
            <mat-panel-title>{{ module.title }}</mat-panel-title>
          </mat-expansion-panel-header>

          <mat-list>
            <mat-list-item *ngFor="let lesson of module.lessons">
              {{ lesson.title }}: {{ lesson.score * 100 }}%
            </mat-list-item>
          </mat-list>
        </mat-expansion-panel>
      </mat-accordion>
    </mat-card-content>
  </mat-card>
</div>