mat-card {
  width: 700px;
  min-height: 300px;
}

.back-arrow {
  color: rgba(0,255,0, 0.9);
  font-size: 400%;
  padding-top: 20px;
}

.next-arrow {
  color: rgba(0,255,0, 0.9);
  font-size: 400%;
  padding-top: 20px;
}