/* You can add global styles to this file, and also import other style files */
html, body {
  height: 100%;
}

body {
  margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;
  background-image: url('./assets/silver-and-gold-round-coins-3790639-1080.jpg');
}

/* Flexbox */

.flex-container {
  display: flex;
  justify-content: space-evenly;
}

.flex-column {
  flex-direction: column;
}

.flex-box {
  margin: 1rem;
}

.flex-center {
  align-items: center;
}

/* Helper */

.center {
  text-align: center;
}

.clickable {
  cursor: pointer;
}

.home-icon {
  color: white;
  scale: 1.5;
  margin: 1rem;
}

.success-icon {
  color: gold;
  scale: 1.5;
  margin: 3px;
}

.white-text {
  color: white;
}
