<mat-card>
    <mat-action-list>
        <mat-card-title>Team Overview</mat-card-title>
        <mat-list-item role="listitem" (click)="click(1)">
            <button mat-button >
                Group 1
            </button>
        </mat-list-item>
        <mat-list-item role="listitem" (click)="click(2)">
            <button mat-button >
                Group 2
            </button>
        </mat-list-item>
        <mat-list-item role="listitem" (click)="click(3)"> 
            <button mat-button >
                Group 3
            </button>
        </mat-list-item>
        <mat-list-item role="listitem" (click)="click(4)">
            <button mat-button >
                Group 4
            </button>
        </mat-list-item>
        <mat-list-item role="listitem" (click)="click(5)">
            <button mat-button>
                Group 5
            </button>
        </mat-list-item>
    </mat-action-list>
</mat-card>